<div class="min-h-screen flex flex-col">
  <header class="bg-blue-600 text-white p-4 shadow-md">
    <div class="container mx-auto flex justify-between items-center">
      <h1 class="text-3xl font-bold rounded-lg p-2">Padel Shop Necochea</h1>
      <nav>
        <ul class="flex space-x-4">
          <li>
            <a routerLink="/" class="text-white hover:text-blue-200 transition duration-300 ease-in-out font-medium rounded-md px-3 py-2">Rifas</a>
          </li>
          <li>
            <a routerLink="/admin" class="text-white hover:text-blue-200 transition duration-300 ease-in-out font-medium rounded-md px-3 py-2">Administración</a>
          </li>
        </ul>
      </nav>
    </div>
  </header>

  <main class="flex-grow container mx-auto p-6">
    <router-outlet></router-outlet>
  </main>

  <footer class="bg-gray-800 text-white p-4 text-center shadow-inner">
    <div class="container mx-auto">
      <p>&copy; 2024 Sistema de Rifas. Todos los derechos reservados.</p>
    </div>
  </footer>
</div>